.*
!.github
!.flake8
!.gitignore
!.isort.cfg
!/.travis.yml
!/.style.yapf

# Own "start dev server" script with FritzBox credentials:
*.sh

# from test projects:
**/static/*
**/media/*
*.sqlite3

# Django
secret.txt

# Coverage HTML Report files:
htmlcov

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
publish.log

# Unit test / coverage reports
db.sqlite3
coverage.xml
